@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  @apply border-4 border-gray-light rounded-full w-6 h-6 animate-spin;
}

@layer components {
  .markdown p {
    @apply mb-4;
  }

  .markdown h1 {
    @apply text-3xl font-bold mb-7;
  }

  .markdown h2 {
    @apply text-2xl font-semibold mb-5;
  }

  .markdown h3 {
    @apply text-xl font-medium mb-4;
  }

  .markdown a {
    @apply underline;
  }

  .markdown ul {
    @apply list-disc list-inside mb-4 ml-3;
  }

  .markdown ol {
    @apply list-decimal list-inside mb-4 ml-3;
  }

  .markdown li {
    @apply mb-2;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #4a4a4a;
}

::-webkit-scrollbar-thumb {
  background: #aeaeae;
}

::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}

.light {
  --background: 252, 252, 252;
  --background-second: 246, 246, 246;

  --text:54, 54, 54;

  --border: 198, 198, 198;
  /* --card: 255, 255, 255; */

  /* --copy-primary: 23, 23, 23;
  --copy-secondary: 115, 115, 115;

  --cta: 139, 92, 246;
  --cta-active: 124, 58, 237;
  --cta-text: 255, 255, 255; */

  background: rgba(var(--background));
}

.dark {
  --background: 54, 54, 54;
  --background-second: 35, 37, 37;

  --text: 236, 236, 236;

  --border: 85, 85, 85;

  /* --border: 38, 38, 38;
  --card: 23, 23, 23;

  --copy-primary: 250, 250, 250;
  --copy-secondary: 115, 115, 115;

  --cta: 99, 102, 241;
  --cta-active: 79, 70, 229;
  --cta-text: 255, 255, 255; */

  background: rgba(var(--background));
}

