@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  @apply border-4 border-gray-light rounded-full w-6 h-6 animate-spin;
}

@layer components {
  .markdown p {
    @apply mb-4;
  }

  .markdown h1 {
    @apply text-3xl font-bold mb-7;
  }

  .markdown h2 {
    @apply text-2xl font-semibold mb-5;
  }

  .markdown h3 {
    @apply text-xl font-medium mb-4;
  }

  .markdown a {
    @apply underline;
  }

  .markdown ul {
    @apply list-disc list-inside mb-4 ml-3;
  }

  .markdown ol {
    @apply list-decimal list-inside mb-4 ml-3;
  }

  .markdown li {
    @apply mb-2;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #4a4a4a;
}

::-webkit-scrollbar-thumb {
  background: #aeaeae;
}

::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}

