@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

.loader {
  @apply border-4 border-gray-light rounded-full w-6 h-6 animate-spin;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-45%);
  }
}

.scroll-on-hover {
  display: inline-block;
  white-space: nowrap;
  transition: transform 0.3s ease;
  /* smooth start */
}

li:hover .scroll-on-hover, .chat-title:hover .scroll-on-hover {
  animation: scroll 4s linear infinite;
}

@layer components {
  .markdown p {
    @apply mb-4 leading-7;
  }

  .markdown h1 {
    @apply text-3xl font-bold mb-7;
  }

  .markdown h2 {
    @apply text-2xl font-semibold mb-5;
  }

  .markdown h3 {
    @apply text-xl font-medium mb-4;
  }

  .markdown a {
    @apply underline;
  }

  .markdown ul {
    @apply list-disc list-inside mb-4 ml-3;
  }

  .markdown ol {
    @apply list-decimal list-inside mb-4 ml-3;
  }

  .markdown li {
    @apply mb-2;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #4a4a4a;
}

::-webkit-scrollbar-thumb {
  background: #aeaeae;
}

::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7;
}

.light {
  --background: 252, 252, 252;
  --background-second: 246, 246, 246;
  --background-second-hover: 233, 233, 233;

  --text:16, 16, 16;

  --border: 198, 198, 198;

  --button: 32, 32, 32; 
  --button-text: 230, 230, 230;
  /* --card: 255, 255, 255; */

  /* --copy-primary: 23, 23, 23;
  --copy-secondary: 115, 115, 115;

  --cta: 139, 92, 246;
  --cta-active: 124, 58, 237;
  --cta-text: 255, 255, 255; */

  background: rgba(var(--background));
}

.dark {
  --background: 54, 54, 54;
  --background-second: 35, 37, 37;
  --background-second-hover: 64, 64, 64;

  --text: 236, 236, 236;

  --border: 85, 85, 85;

 
  --button: 230, 230, 230;
  --button-text: 32, 32, 32;

  /* --border: 38, 38, 38;
  --card: 23, 23, 23;

  --copy-primary: 250, 250, 250;
  --copy-secondary: 115, 115, 115;

  --cta: 99, 102, 241;
  --cta-active: 79, 70, 229;
  --cta-text: 255, 255, 255; */

  background: rgba(var(--background));
}

@keyframes progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.animate-progress {
  animation: progress 5s linear infinite;
}

.mock-percentage {
  animation: fakePercentage 5s linear infinite;
}

@keyframes fakePercentage {
  0% {
    content: "0%";
  }

  25% {
    content: "25%";
  }

  50% {
    content: "50%";
  }

  75% {
    content: "75%";
  }

  100% {
    content: "100%";
  }
}

